:root{
  --line-color:#117050;
} 

*{
  padding:0;
  margin:0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body{
  height: 100%;
}

body{
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  
}

header .line{
  background:var(--line-color);
  height: 15px;
}

.container{
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

.container .logo{
  width: 64px;
  height: 64px;
}

.logo img{
  width: 100%;
  height:100%;
}

.content-right{
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.header-container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header-search{
  width: 100%;
  max-width: 300px;


}

.header-search form{
  width: 100%;
  display: flex;
  height: 35px;
  border: 1px solid #999;
  max-width: 300px;
}

.header-search input{
  font-size: 16px;
  padding:7px 10px;
  
  width: 100%;
  max-width: 250px;
  border: 0;
}
.header-search button{
  width: 100%;
  max-width:50px;
  border:0;
  background:transparent;
  border-left: 1px solid #999;
  cursor: pointer;
}

.header-search img{
  width: 20px;
  height: 18px;
}

.header-menu{
  max-width: 30px;
  height: 30px;
  cursor: pointer;

}
.header-menu  img{
  width: 100%;
  height: 100%;
}

.banner{
  height: 600px;
  padding: 40px 0;
  width: 100%;
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-position: center;
  margin-top: 80px;
}

 .banner h1{
  font-size: 90px;
  font-family: 'Oswald';
  font-weight: bold;
  line-height: 100px;
  width: 100%;
  max-width: 500px;

}

.banner p{
  margin: 40px 0;
  font-size:17px;
  line-height: 27px;
}

.banner-images{
  margin: 80px 0 100px 0;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
}

.banner-images img{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 6px solid var(--line-color);
  cursor: pointer;
  transition:  transform 2s ease-out;

}

.banner-images img:hover{
  transform: scale(1.3);
}

.area1{
  font-size: 30px;
  display: grid;
  grid-template-columns: repeat(2,1fr);

}

.area1-content{
  width: 100%;
  padding: 80px 40px;
  max-width: 600px;
  margin: auto;
  text-align: center;
  
}

.area1-content .bar{
  width: 200px;
  height: 30px;
  background: var(--line-color);
  margin: auto;
}

.area1-content h2{
  margin-top:20px;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  font-family: 'Oswald','Courier New', Courier, monospace;
}

.area1-content .quote{
  margin: 20px 0;
  font-size: 18px;
  line-height: 28px;
}

.area1-content .text{
  margin: 20px 0;
  font-size: 18px;
  line-height: 28px;
}

.area1-content a{
  text-decoration: none;
  font-size: 18px;
  line-height: 28px; 
  padding:  10px 32px;
  color:#fff;
  border-radius: 4px;
  font-weight: 700;
  background: #134e5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #134e5e, #71b280); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #134e5e, #71b280); 
  font-family: 'Oswald';
}


.area1-content a:hover{
  opacity: 0.9;
}

.area1-img1{
  background:#7159c1;
  height: 347px;
  background-image: url(../img/f2.jpg);
  background-size:cover;
  background-position: center;
}


.area1-img2{
  background:red;
  grid-column: 2/3;
  grid-row: 1/3;
  background-image: url(../img/f1.jpg);
  background-size:cover;
  background-position: center;
}


.area2{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.area2-content{
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
  padding: 80px 40px;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.area2-content .bar{
  width: 200px;
  height: 30px;
  background: var(--line-color);
  margin: auto;
}

.area2-content h2{
  margin-top:20px;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  font-family: 'Oswald','Courier New', Courier, monospace;
}

.area2-content .quote{
  margin: 20px 0;
  font-size: 18px;
  line-height: 28px;
}

.area2-content .text{
  margin: 20px 0;
  font-size: 18px;
  line-height: 28px;
}

.area2-content a{
  text-decoration: none;
  font-size: 18px;
  line-height: 28px; 
  padding:  10px 32px;
  color:#fff;
  border-radius: 4px;
  font-weight: 700;
  background: #134e5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #134e5e, #71b280); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #134e5e, #71b280); 
  font-family: 'Oswald';
}

.area2-img1{
  grid-column: 1/2;
  grid-row: 1/3;
  background: url(../img/f3.jpg);
  background-size: cover;
  background-position: center;
}

.area2-img2{
  grid-column: 2/3;
  grid-row:2/3 ;
  background: url('../img/f4.jpg');
  background-size: cover;
  background-position: center;
  height: 350px;
}

.area3{
  width:100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}


.area3-content{
  grid-column: 1/2;
  grid-row: 1/-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 350px 50px;
  background: url('../img/bg2.jpg');
  background-size:cover;
  text-align: center;
}

.area3-content h1{
 font-size: 40px;
 line-height:50px;
 font-family: 'Oswald','Courier New', Courier, monospace;
}

.area3-content p{
  margin: 40px 0;
  font-size: 16px;
  line-height: 26px;

}

.area3-content a{
  text-decoration: none;
  font-size: 18px;
  line-height: 28px; 
  padding:  10px 32px;
  color:#fff;
  border-radius: 4px;
  font-weight: 700;
  background: #134e5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #134e5e, #71b280); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #134e5e, #71b280); 
  font-family: 'Oswald';

}

.area3-img{
  grid-column: 2/3;
  grid-row: 1/-1;
  background: url(../img/f5.jpg);
  background-size:cover;
  background-position: center;
}

.area4{
  display: grid;
  grid-template-columns: 500px 1fr; 
}

.area4-content{
 padding: 80px;
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;

}

.area4-content .line{
  width: 180px;
  height: 30px;
  background-color:var(--line-color);
  margin: auto;
}

.area4-content .text{
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
  line-height: 25px;
  
}
.area4-content .text h3{
  width: 100%;
  font-size: 35px;
  line-height: 35px;
  font-family: 'Oswald';
  font-weight: bold;
  display: block;
  
}

.text p{
  margin: 20px;
  font-size: 18px;
  line-height: 28px; 
}

.text .button{
  text-decoration: none;
  font-size: 18px;
  line-height: 28px; 
  padding:  10px 32px;
  color:#fff;
  border-radius: 4px;
  font-weight: 700;
  background: #134e5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #134e5e, #71b280); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #134e5e, #71b280); 
  font-family: 'Oswald';
}

.area4-img{
 background-image: url(../img/bg3.jpg);
 background-size: cover;
}


.area5{
  width: 100%;
  background:url('../img/bg4.jpg');
  height: 600px;
  background-size:cover;
}

footer{
  background:#333;
  padding: 90px;
}

footer p{
  color:#fff;
  font-family: 'Oswald';
  text-align: center;
  font-size:20px;
}

@media(max-width: 1130px){
  .header-container{
    padding: 0 2%;
  }

  .banner{
    padding: 0 2%;
  }
}



@media(max-width: 360px){

  .container {
    padding: 0 2%;
  }
  .area1{
    grid-template-columns: 1fr;
  }

  .area2{
    grid-template-columns: 3fr 2fr;
  }

  .area3{
    grid-template-columns: 2fr 1fr;
  }
}

@media (max-width: 425px){
  .header-container{
    padding: 0 2%;
  }
}