@import url("https://fonts.google.com/specimen/Alata");
@import url("https://fonts.google.com/specimen/Josefin+Sans");
* {
  padding: 0;
  margin: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans','Courier New', Courier, monospace;
}

html, body {
  height: 100%;
}

header {
  width: 100%;
  height: 600px;
  background-image: url("../images/desktop/image-hero.jpg");
  background-size: cover;
  background-position: center bottom;
  padding-top: 32px;
}

header .header-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  font-size: 16px;
  line-height: 160%;
  color: #fff;
  font-family: 'Poppins', 'Courier New', Courier, monospace;
  text-decoration: none;
  padding-bottom: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

header nav ul li a:hover {
  border-bottom: 1px solid #e4e4e4;
  color: #e4e4e4;
}

header .nav-logo-wrapper {
  width: 200px;
  height: 35px;
}

header .nav-logo-wrapper img {
  width: 100%;
  height: 100%;
}

header .header-content {
  border: 1px solid #e4e4e4;
  width: 100%;
  width: 100%;
  max-width: 500px;
  margin-top: 150px;
  padding: 30px;
  border-radius: 4px;
  -webkit-animation: moveRight 0.8s ease-out;
          animation: moveRight 0.8s ease-out;
}

header .header-content h1 {
  font-size: 60px;
  line-height: 70px;
  color: #e4e4e4;
  font-size: 40px;
  line-height: 140%;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}

@-webkit-keyframes moveRight {
  0% {
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveRight {
  0% {
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.section-area {
  width: 100%;
}

.section-area .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  max-width: 1200px;
  margin: 80px auto;
}

.section-area .img-wrapper {
  width: 800px;
  height: 400px;
}

.section-area .img-wrapper img {
  width: 100%;
  height: 100%;
}

.section-area .content-text {
  width: 100%;
  max-width: 500px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  position: absolute;
  right: 50px;
  top: 30px;
}

.section-area .content-text h2 {
  font-size: 26px;
  line-height: 36px;
  text-transform: uppercase;
}

.section-area .content-text p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 26px;
}

.section-grid {
  width: 100%;
}

.section-grid .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
}

.section-grid .section-text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-grid .section-text h2 {
  font-size: 40px;
  font-weight: 300;
}

.section-grid .section-text a {
  text-decoration: none;
  color: #1a1a1d;
  display: block;
  width: 150px;
  height: 45px;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.section-grid .section-text a:hover {
  background: #1a1a1d;
  color: #fff;
  letter-spacing: 3px;
}

.section-grid .section-grid {
  margin-top: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  position: relative;
}

.section-grid .grid-item {
  background: red;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.section-grid .grid-item .img-wrapper {
  width: 100%;
  height: 100%;
}

.section-grid .grid-item .img-wrapper img {
  width: 100%;
  height: 100%;
}

.section-grid .grid-item h1 {
  position: absolute;
  bottom: 80px;
  z-index: 2;
  font-weight: 300;
  color: #fff;
  padding-left: 20px;
  text-transform: uppercase;
}

footer {
  width: 100%;
  background: #1a1a1d;
  padding: 40px;
}

footer .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

footer .container-footer-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container-footer-header-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container-footer-header-icons .icon {
  margin: 0 8px;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  cursor: pointer;
}

footer .container-footer-header-icons .icon:hover {
  -webkit-transform: translate3d(0, -8px, 0);
          transform: translate3d(0, -8px, 0);
}

footer .container-footer {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container-footer p {
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  font-weight: 600;
}

footer .container-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

footer .container-footer ul li {
  margin: 0 10px;
}

footer .container-footer ul a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  padding-bottom: 6px;
}

footer .container-footer ul a:hover {
  border-bottom: 2px solid #fff;
}
/*# sourceMappingURL=styles.css.map */