@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");
* {
  padding: 0;
  margin: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins','Courier New', Courier, monospace;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
}

body {
  font-size: 1.6rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.menu {
  width: 4rem;
  height: 4rem;
  background: #101010 url(../images/menu.png);
  position: fixed;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  top: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 999;
}

.menu.active {
  background-image: url(../images/close.png);
}

.menu-opened {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #101010;
  z-index: 2;
  -webkit-transition: all 0.8 ease-out;
  transition: all 0.8 ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
}

.menu-opened ul li {
  margin: 20px 0;
  text-align: center;
  list-style: none;
}

.menu-opened ul li a {
  font-size: 2.8rem;
  line-height: 3.8rem;
  color: whitesmoke;
  text-decoration: none;
}

.menu-opened ul li a:hover {
  color: #11998e;
}

.menu-opened.active {
  -webkit-transition: all  2s ease-out;
  transition: all  2s ease-out;
  width: calc(100% - 450px);
  visibility: visible;
}

.menu-opened.active ul li {
  margin: 20px 0;
  text-align: center;
}

.menu-opened.active ul li a {
  font-size: 2.8rem;
  line-height: 3.8rem;
  color: whitesmoke;
  text-decoration: none;
}

.menu-opened.active ul li a:hover {
  color: #11998e;
}

.banner {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative;
}

.banner .user-photo {
  width: 100%;
  max-width: 45rem;
  background: url(../images/bg.jpg);
  background-size: cover;
  background-position: center;
}

.banner .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 8rem;
}

.banner .content h5 {
  position: absolute;
  top: 40px;
  font-size: 2rem;
  text-transform: uppercase;
  background: #272727;
  padding: 3px 8px;
  color: #fff;
  border-radius: 3px;
}

.banner .content-text {
  margin: 10rem 0;
  -webkit-animation: moveRight 2s  ease-out;
          animation: moveRight 2s  ease-out;
}

@-webkit-keyframes moveRight {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveRight {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.banner .content-text h3 {
  font-weight: 400;
}

.banner .content-text h3 span {
  color: #1fa8a8;
  font-size: 3.4rem;
  font-weight: 500;
}

.banner .content-text strong {
  margin: 8px 0;
  font-size: 3.4rem;
  line-height: 4.4rem;
  color: #645959;
}

.banner .content-text .title {
  margin: 8px 0;
  font-size: 2.1rem;
  color: #645959;
}

.banner .content-text p {
  margin: 20px 0;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.banner .content-text .btn {
  background: #11998e;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#11998e), to(#38ef7d));
  background: linear-gradient(to bottom, #11998e, #38ef7d);
  text-decoration: none;
  color: #fff;
  padding: 8px 16px;
  font-weight: 500;
  border-radius: 5px;
}

.banner .content-text .btn:hover {
  opacity: 0.8;
}

.banner .icons {
  width: 100%;
  max-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner .icons i {
  font-size: 2rem;
  padding: 5px 8px;
  border-radius: 8px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.banner .icons i:hover {
  opacity: 0.7;
}

.banner .icons .fa-facebook-f {
  color: #fff;
  background: #3b5998;
}

.banner .icons .fa-twitter {
  background: #00acee;
  color: #fff;
}

.banner .icons .fa-instagram {
  color: #fff;
  background-color: #C13584;
}

.about {
  background: #000;
  color: #fff;
  padding: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about-title h3 {
  font-size: 2.9rem;
  line-height: 3.9rem;
}

.about .about-title .line {
  margin: 1.5rem;
  width: 100%;
  height: 0.4rem;
  background: #fff;
  border-radius: 2px;
}

.about .about-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 50px;
}

.about .about-quote {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about .about-content .img-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about .img-wrapper img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=styles.css.map */