@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");
*{
  padding:0;
  margin:0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Poppins','Courier New', Courier, monospace;
  scroll-behavior: smooth;
}

 html{
   font-size: 62.5%;
 }

html, body{
  height: 100%;

}

body{
  font-size:1.6rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
 
}

button{
  cursor: pointer;
}

.menu{
  width: 4rem;
  height: 4rem;
  background:#101010 url(../images/menu.png);
  position: fixed;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  top: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 999;
}

.menu.active{
  background-image: url(../images/close.png);
}

.menu-opened{
  width: 0;
  height: 100%;
  position:fixed;
  top:0;
  right: 0;
  background:#101010;
  z-index: 2;
  transition: all 0.8 ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;

   ul li{
    margin: 20px 0;
    text-align: center;
    list-style: none;
  };

  ul li a{
    font-size: 2.8rem;
    line-height: 3.8rem;
    color:rgb(245, 245, 245);
    text-decoration: none;
    &:hover{
      color:#11998e;
    }
  }
}

.menu-opened.active{
  transition: all  2s ease-out;
  width: calc(100% - 450px);
  visibility: visible;

  ul li{
    margin: 20px 0;
    text-align: center;
  };

  ul li a{
    font-size: 2.8rem;
    line-height: 3.8rem;
    color:rgb(245, 245, 245);
    text-decoration: none;
    &:hover{
      color:#11998e;
    }
  }

}

.banner{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: stretch;
  position:relative;

  .user-photo{
    width: 100%;
    max-width: 45rem;
    background:url(../images/bg.jpg);
    background-size:cover;
    background-position: center;
  }
  
  .content{
    flex:1;
    padding: 8rem;
  }

  .content h5{
    position: absolute;
    top: 40px;
    font-size: 2rem;
    text-transform: uppercase;
    background:rgb(39, 39, 39); 
    padding:3px 8px;
    color:#fff;
    border-radius: 3px;
    
  }

  .content-text{
    margin: 10rem 0;
    animation: moveRight 2s  ease-out ;
  }

  @keyframes moveRight{
    0%{
      transform: translateY(100px);
      opacity: 0;
    }

    100%{
      transform: translateX(0)
    }
  }
  
  .content-text h3{
    font-weight: 400;
    
  }
  .content-text h3 span{
    color:rgb(31, 168, 168);
    font-size: 3.4rem;
    font-weight: 500;
  }

  .content-text strong{
    margin:8px 0;
    font-size: 3.4rem;
    line-height: 4.4rem;
    color:rgb(100, 89, 89);
  }

  .content-text .title{
    margin: 8px 0;
    font-size:  2.1rem;
    color:rgb(100, 89, 89);
  }

  .content-text p{
    margin:20px 0;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .content-text .btn{
    background: #11998e; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #11998e, #38ef7d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #11998e, #38ef7d); 
    text-decoration: none;
    color:#fff;
    padding: 8px 16px;
    font-weight: 500;
    border-radius: 5px;

    &:hover{
      opacity: 0.8;
    }

  }

  .icons{
    width: 100%;
    max-width: 150px;
    display: flex;
    justify-content: space-between;
     i{
       font-size: 2rem;
       padding:5px 8px;
       border-radius: 8px;
       cursor: pointer;
       display: flex;
       justify-content: center;
       align-content: center;

       &:hover{
         opacity: 0.7;
       }
     }

     .fa-facebook-f{
       color:#fff;
       background:#3b5998;
     }

     .fa-twitter{
       background: #00acee;
       color:#fff;
     }

     .fa-instagram{
       color:#fff;
       background-color: #C13584;
     }
  }
}


.about{
  background:#000;
  color:#fff;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;


  .about-title{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about-title  h3{
    font-size: 2.9rem;
    line-height: 3.9rem;
  }

  .about-title .line{
   margin: 1.5rem;
   width: 100%;
   height: 0.4rem;
   background:#fff;
   border-radius: 2px;
  }

  .about-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top:50px;
  }

  .about-quote{
    flex:1;
    
  }

  .about-content .img-wrapper{
    flex: 1;
  }

  .img-wrapper img{
    width: 100%;
    height: 100%;
  }
}