header {
  width: 100%;
  padding-top: 16px;
  padding: 0 2%;
  margin-top: 20px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-menu {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 16px;
}

.nav-list li {
  margin: 0 8px;
}

.nav-link {
  display: inline-block;
  padding: 8px 16px;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 200;
  position: relative;
  -webkit-transition: color 0.7s ease-out;
  transition: color 0.7s ease-out;
}

.nav-link:hover {
  color: #f4f7f8;
}

.nav-link::after {
  content: '';
  display: block;
  position: absolute;
  height: 0px;
  width: 2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -45px;
  background: #ad1f1f;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#ad1f1f));
  background: linear-gradient(to bottom, #000000, #ad1f1f);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-link:hover:after {
  height: 40px;
}

.nav-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-social .img-wrapper {
  margin-left: 16px;
  width: 25px;
  height: 25px;
}

.nav-social .img-wrapper img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

.nav-social .img-wrapper img:hover {
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transform: translate3d(0, -3px, 0);
          transform: translate3d(0, -3px, 0);
}

.logo {
  width: 94px;
  height: 94px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.container {
  margin: 30px auto;
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-item1 {
  width: 100%;
  max-width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: MoveLeft 0.8s ease-out;
          animation: MoveLeft 0.8s ease-out;
}

@-webkit-keyframes MoveLeft {
  0% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes MoveLeft {
  0% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.img-wrapper {
  width: 400px;
  height: 200px;
}

.img-wrapper img {
  width: inherit;
  height: inherit;
}

.content {
  margin-top: 10px;
  width: 100%;
  line-height: 140%;
}

.content p {
  text-align: justify;
}

.content .links {
  margin: 20px auto;
  width: 100%;
  max-width: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content a {
  width: 180px;
  height: 50px;
  display: inline-block;
  background: #B31317;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
}

.content a + a {
  margin-right: 20px;
}

.content a:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.icons {
  width: 400px;
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icons div {
  margin: 0 10px;
}

.container-item2 .img-wrapper2 {
  width: 600px;
  height: 600px;
  -webkit-animation: ShowImage 0.8s ease-out;
          animation: ShowImage 0.8s ease-out;
}

.container-item2 img {
  width: inherit;
  height: inherit;
  -webkit-animation: ShowImage 2s ease-out;
          animation: ShowImage 2s ease-out;
}

@-webkit-keyframes ShowImage {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ShowImage {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes MoveRight {
  0% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes MoveRight {
  0% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Mukta',Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 26px;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #edf1f7;
}

.border {
  border: 1px solid red;
}

p {
  font-size: 16px;
  color: #959698;
  letter-spacing: 1px;
  line-height: 160%;
}

.video {
  width: 100vw;
  height: 100vh;
  -webkit-filter: brightness(20%);
          filter: brightness(20%);
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  position: relative;
  margin: 0 auto;
}

.app {
  position: absolute;
  left: 50%;
  -webkit-transform: translatex(-2%);
          transform: translatex(-2%);
}
/*# sourceMappingURL=styles.css.map */