@import 'partials/colors';
@import 'partials/menu';
@import 'partials/animations';
@import 'partials/layout';


*{
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Mukta',Arial, Helvetica, sans-serif;
}

// svg 32px 32px
html, body{
  height: 100%;
}


body{
  font-size: 16px;
  line-height: 26px;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  overflow: hidden;
}

a{
  text-decoration: none;
  color:$white;
}

.border{
  border: 1px solid red;
}

p{
  font-size: 16px;
  color:$gray-3;
  letter-spacing: 1px;
  line-height: 160%;
}

.video{
  
  width: 100vw;
  height: 100vh;
  filter: brightness(20%);
  
  
}

#app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  position: relative;
  margin: 0 auto;
  

}

.app{
  position:absolute;
  left: 50%;
  transform: translatex(-2%);

  
}