*{
  padding:0;
  margin:0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Poppins','Courier New', Courier, monospace;
}

html,body{
  height: 100%;
}

html{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  overflow-x: hidden;
}

.header{
  height: 100px;
  background:#000;
  
  .container{
    height: 100%;
    padding: 0 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .img-wrapper{
      width: 8rem;
      height: 8rem;
      
      img{
        width: 100%;
        height: 100%;
      }
    }

    .navigation{
      height: 100%;
      ul{
        list-style:none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

      }
      li{
        margin: 0 0.7rem;
        display: flex;
        align-items: center;
        height: 100%;
        border: 4px solid black;
        cursor: pointer;
        &:hover{
          border-bottom: 4px solid #fca572;
          color: rgb(218, 218, 218);
        }
        
        a{
          color:#fff;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 600;

          &:hover{
            color: rgb(240, 227, 227);
          }

        }
      }
    }

    .menu-img-wrapper{
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;
      display: none;

      img{
        width: 100%;
        height: 100%;
        
      }
    }
  }
}

.home{
  width: 100vw;
  height: calc(100vh - 100px);
  background-image:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), 
  url('../img/complementos/bg.jpg');
  background-size:cover;
  background-position: bottom center;

  .content{
    width:5500px;
    display: flex;
    align-items: center;
    position:relative;

  
  .content-item {
    width:1500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 18rem;

    h1{
      font-size: 7rem;
      line-height: 8rem;
      color:#fff;
      width: 100%;
      max-width: 60rem;
      text-align: center;
      text-transform: uppercase;
    }
    span{
      color:#fca572;
    }

    p{
      font-size: 2.8rem;
      line-height: 3.8rem;
      text-transform: uppercase;
      font-weight: bold;
      color:#fff;
    }

    .btn{
      display: block;
      margin: 2rem 0;
      background:#fca572;
      color:#fff;
      width: 23rem;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: none;
      border-radius: 4px;
      transition:  background 1s ease-out;
      &:hover{
        background:#ca835a;
      }
    }

  
  }
  }


  
}

.btns{
  width: 120px;
  height: 50px;
  position: absolute;
  left: 48%;
  bottom: 180px;
  z-index: 2;
  display: flex;;
  justify-content: space-between;
  align-items: center;

  .button{
    width: 16px;
    height:16px;
    border: 2px solid #ca835a;
    border-radius: 50%;
    cursor:pointer;
    &:hover{
      background:#ca835a;

    }
  
  }
}
@media(max-width: 1175px){
  .header{
  .container{
    .navigation{
      display: none;
    }
    .menu-img-wrapper{
      display: block;
    }
  }
}
}