* {
  padding: 0;
  margin: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins','Courier New', Courier, monospace;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
}

header {
  padding-top: 0.1rem;
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url(../images/banner.jpg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .content {
  color: #fff;
  -webkit-animation: moveDown 2s ease-out;
          animation: moveDown 2s ease-out;
  margin-left: 8rem;
}

header .content h1 span {
  font-weight: 500;
  font-size: 4rem;
}

header .content h1 {
  margin: 2rem 0 1rem 0;
  font-size: 5.8rem;
}

header .content p {
  font-size: 2rem;
  color: #c5c4c4;
}

header .content .btn {
  color: #fff;
  background: #1cb5e0;
  margin-top: 2rem;
  width: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5rem;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0.4rem;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

header .content .btn:hover {
  letter-spacing: 0.4rem;
  background: #1782a0;
}

@-webkit-keyframes moveDown {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveDown {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.menu {
  display: none;
  position: absolute;
  top: 4rem;
  right: 5rem;
  z-index: 2;
  width: 3rem;
  height: 2rem;
}

.menu img {
  width: 100%;
  height: 100%;
}

.navigation {
  position: fixed;
  z-index: 2;
  padding: 4rem 10rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation h3 {
  font-size: 2.8rem;
  line-height: 3.8rem;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation ul li {
  list-style: none;
  margin: 0 1.5rem;
}

.navigation ul li a {
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #fff;
  font-weight: 300;
  -webkit-transition: color 0.8s ease-out;
  transition: color 0.8s ease-out;
}

.navigation ul li a:hover {
  color: #1cb5e0;
}

.navigation.sticky {
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  background: rgba(250, 247, 247, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px #ccc;
          box-shadow: 0 1px 1px 1px #ccc;
  width: 100%;
  padding: 2rem 6rem;
}

.navigation.sticky h3 {
  color: #000;
}

.navigation.sticky ul li a {
  color: #000;
}

.navigation.sticky ul li a:hover {
  color: #1cb5e0;
}

.about {
  padding: 4rem 10rem;
}

.about .about-title {
  text-align: center;
}

.about .about-title h3 {
  font-size: 3.5rem;
  line-height: 4.5rem;
}

.about .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem 0;
}

.about .about-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 2rem 1rem;
}

.about .about-text strong {
  font-size: 2.1rem;
  margin: 0.3rem;
}

.about .about-text p {
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin: 1rem 0;
}

.about .img-wraper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 2rem 1rem;
}

.about .img-wraper img {
  width: 100%;
  height: 100%;
}

.services {
  padding: 4rem 6rem;
  background: #000;
}

.services .service-title {
  margin-top: 4rem;
  text-align: center;
  color: #fff;
}

.services .service-title h1 {
  font-size: 4rem;
  line-height: 5rem;
}

.services .service-title p {
  margin: 2rem 0;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.services .services-imagens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services .services-imagens .service-item {
  width: 100%;
  max-width: 30rem;
  background: rgba(136, 136, 136, 0.4);
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.services .services-imagens .service-item:hover {
  background: rgba(3, 143, 207, 0.973);
}

.services .services-imagens .service-item strong {
  margin: 2rem 0;
  font-size: 1.7rem;
}

.services .services-imagens .service-item p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: justify;
}

.services .services-imagens .service-item img {
  max-height: 80px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.works {
  width: 100%;
  padding: 4rem 10rem;
}

.works .works-title {
  width: 100%;
  max-width: 50rem;
  margin: 2rem auto;
  text-align: center;
}

.works .works-title h2 {
  font-size: 3.6rem;
  line-height: 4.6rem;
}

.works .works-title p {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.works .works-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works .works-content .img-wrapper {
  width: 400px;
  height: 400px;
  margin: 3rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.8s ease-out;
  transition: -webkit-transform 0.8s ease-out;
  transition: transform 0.8s ease-out;
  transition: transform 0.8s ease-out, -webkit-transform 0.8s ease-out;
}

.works .works-content .img-wrapper:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.works .works-content .img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.works > .btn {
  display: block;
  width: 18rem;
  height: 5rem;
  margin: 2rem auto;
  text-align: center;
  text-decoration: none;
  background: #1782a0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.works > .btn:hover {
  letter-spacing: 3px;
  background: #156277;
}

.testimonials {
  margin: 6rem 0;
  padding: 4rem 10rem;
}

.testimonials .testimonails-text {
  width: 100%;
  max-width: 50rem;
  margin: 2rem  auto;
  text-align: center;
}

.testimonials .testimonails-text h3 {
  font-size: 4rem;
  font-weight: bold;
}

.testimonials .testimonails-text p {
  margin: 1rem 0;
  font-size: 1.5rem;
}

.testimonials .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 6rem 0;
}

.testimonials .content .content-text {
  background: #0c7ce6;
  padding: 6rem 4rem;
  margin: 2rem;
}

.testimonials .content .content-text p {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 600;
  font-style: italic;
}

.testimonials .content .content-text .author-text {
  margin: 2rem 0;
  text-align: right;
}

.testimonials .content .content-text .author-text strong {
  font-size: 2.3rem;
  color: #fff;
}

/* Responsividade */
@media (max-width: 1080px) {
  .menu {
    display: block;
    position: fixed;
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  .navigation ul {
    display: none;
  }
}

@media (max-width: 1050px) {
  .about .about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .about .about-text p {
    text-align: justify;
  }
  .testimonials .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 936px) {
  .banner {
    padding: 0 2%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner .content {
    width: 100%;
    max-width: 590px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .banner .content h1 {
    font-size: 4.5rem;
  }
  .banner .content h1 span {
    font-size: 3.2rem;
  }
}

@media (max-width: 740px) {
  .banner {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
  .banner .content {
    margin: auto;
  }
  .banner .content h1 {
    font-size: 3.5rem;
  }
  .banner .content h1 span {
    font-size: 3rem;
  }
}

@media (max-width: 601px) {
  .navigation.sticky {
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navigation.sticky h3 {
    color: #7a7a7a;
  }
  .menu {
    top: 30px;
    -webkit-transition: all 0.8 ease-out;
    transition: all 0.8 ease-out;
  }
  .menu img {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
}
/*# sourceMappingURL=styles.css.map */