@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Muli:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

$primary-font: 'Baloo Da 2';
$secunday-font: 'Josefin Slab';
*{
  padding:0;
  margin:0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #container{
 height: 100%;
}

#container{
  position:relative;
}

body{
  overflow: hidden;
}


.hamburger{
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 999;
  top: 40px;
  right: 80px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .line{
    width: 100%;
    height: 1px;
    background:#fff;
  }
}

header{
  width: 100%;
  height: 100%;
  position: relative;

  .img-wrapper{
    width: 100vw;
    height: 100vh;
    animation: zoom 3s ease-out;
  }

  @keyframes zoom{
    0%{
      transform: scale(1.3);
    }

   
    100%{
      transform:  scale(1);
    }
  }

  .img-wrapper img{
    width: 100%;
    height: 100%;
  }

  .header-content{
    position: absolute;
    top: 30%;
    left: 15%;
    width: 100%;
    max-width:380px;
    text-align: center;
    animation: moveDown 5s ease-out;
    @keyframes moveDown{
      0%{
        transform: translateX(-330px);
        opacity: 0;
      }

      50%{
        opacity: 1;
      }
    
      100%{
        transform: translateX(0);
      }
    }
    

   

    h1{
      font-size: 38px;
      line-height: 48px;
      font-family:$primary-font;
      font-weight:normal;
      color:#fff;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
    }

    p{
       margin: 10px 0;
       font-size:23px;
       line-height: 33px;
       font-family: $secunday-font;
       color: #fff;
       font-weight:400;
    }
    
    a{
      text-decoration: none;
      background: #8e2de2; /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #8e2de2, #4a00e0); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #8e2de2, #4a00e0);
      color:#fff;
      display: block;
      width: 100%;
      max-width: 258px;
      margin: 30px auto;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $primary-font;
      border-radius: 4px;
      transition: all 2s ease-out;
      
      &:hover{
        opacity: 0.7;
      }
    }

  }
}

.navigation{
  width: 0;
  position:fixed;
  z-index: 99999;
  top: 0;
  right:0;
  height: 100%;
  background: #ccc;
}

.active{
  transition:width 2s ease-out;
  width: 250px;
}