@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");


*{
  padding:0;
  margin:0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Poppins',Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

html, body, #container{
 height: 100%;
}

#container{
  height: 100vh;
  position: relative;
  
}

body{
  overflow-x: hidden;
}

.menu{
  width: 50px;
  height: 50px;
  position:fixed;
  top: 50px;
  right: 100px;
  z-index: 10;
  background: url(../img/menu.png);
  background-size:30px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 100;
}
.menu.active{
  background: url('../img/close.png');
  background-size:25px;
  background-position: center;
  background-repeat: no-repeat;
  position:fixed;
  top: 30px;
  right: 240px;
  z-index: 100;
  transition: all 0.5s ease-in;
  z-index: 898988989898999;

  
 
}

.arrow{
  display: block;
  width: 35px;
  height: 35px;
  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position:fixed;
  bottom:  20px;
  left: 100px;

  
  z-index:10;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  i{
    color:#fff;
  }
}



.aside{
  z-index: 8028948298498294;
  visibility: hidden;
  width:0;
  position:fixed;
  top:0;
  right: 0;
  z-index: 1;
  height: 100%;

  transition: width 0.8s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255,255,255, 0.5);

  
}

.aside.active{
  width: 100%;
  max-width: 300px;
  height: 100%;
  visibility: visible;
  display: flex;
  align-items: stretch;
  z-index: 2;
 
 
  
  ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    align-content: center;
  }

  ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin:10px 0;
    text-align: center;
  }

  ul li a{
    text-decoration: none;
    color:rgb(10, 10, 10);
    margin:10px 0;
    font-size: 20px;

    &:hover{
      color:#1830bb;
    }
  }
  
  .icons{
    
    width:100%;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    i{
      font-size: 25px;
      line-height: 35px;
      cursor: pointer;
      &:hover{
        opacity: 0.8;
      }
    }

    .fa-linkedin{
      color:#0072b1;
    }
    
    .fa-twitter{
      color:#00acee;
    }
    
  }

}

header{
  width: 100vw;
  height: 100%;
  position: relative;
  

  .img-wrapper{
    width: 100vw;
    height: 100vh;
    animation: zoom 3s ease-out;
  }

  @keyframes zoom{
    0%{
      transform: scale(1.2);
    }

   
    100%{
      transform:  scale(1);
    }
  }

  .img-wrapper img{
    width: 100%;
    height: 100%;
  }

  .header-content{
    position: absolute;
    top: 30%;
    left: 15%;
    width: 100%;
    max-width:400px;
    text-align: center;
    animation: moveDown 5s ease-out;
    @keyframes moveDown{
      0%{
        transform: translateX(-100px);
        opacity: 0;
      }

      50%{
        opacity: 1;
      }
    
      100%{
        transform: translateX(0);
      }
    }
    

   

    h1{
      font-size: 38px;
      line-height: 48px;
      width: 100%;
      max-width: 400px;
      font-weight:normal;
      color:#fff;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
    }

    p{
       margin: 10px 0;
       font-size:23px;
       line-height: 33px;
       color: #fff;
       font-weight:400;
       
    }
    
    a{
      text-decoration: none;
      background: #8e2de2; /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #8e2de2, #4a00e0); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #8e2de2, #4a00e0);
      color:#fff;
      display: block;
      width: 100%;
      max-width: 258px;
      margin: 30px auto;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      transition: all 2s ease-out;
      
      &:hover{
        opacity: 0.7;
      }
    }

  }
}

.conhecimento{
  
  padding: 100px;
  width: 100%;

  .section-title{
    width: 100%;
    max-width: 300px;
    margin: auto;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .section-title h3{
    font-size: 36px;
    line-height: 46px;
  }

  .section-title .line{
    width: 100%;
    max-width: 250px;
    height: 8px;
    background:#3f52c0;
    border-radius: 4px;
  }
  
  .grid-area{
    margin: 80px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap:row wrap;
    align-items: center;
    background: url(../img/conhecimentos.png);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center;

  
  }

  .grid-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 20px 0;
    text-align: center;
  

    p{
      font-size: 13px;
    }
  }

  .grid-title{
    display: flex;
    align-items: center;
    justify-content: center;

    i{
      font-size: 40px;
    }
    strong{
      font-size: 25px;
      font-weight: 300;
      margin-left: 20px;
    }
  }

 .item1{
    
    i{
        color:#e03409;
      }
    
  }
  .item2{
    grid-column: 1/3;
    grid-row: 3/6;
    i{color: blue;}
  }

  .item3{
    i{color:rgb(209, 209, 24)}
  }

  .item4{
    i{ color:red}
  }

  .item5{
    i{
      color:blue;
    }
  }

  .item6{
    i{
    color:black;
    }
  }

}


