@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");
* {
  padding: 0;
  margin: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins',Arial, Helvetica, sans-serif;
}

html, body, #container {
  height: 100%;
}

#container {
  height: 100vh;
  position: relative;
}

body {
  overflow: hidden;
}

.menu {
  width: 50px;
  height: 50px;
  background: red;
  position: fixed;
  top: 50px;
  right: 100px;
  z-index: 999;
  background: url(../img/menu.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.menu.active {
  background: url("../img/close.png");
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 30px;
  right: 240px;
  z-index: 99999;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.aside {
  visibility: hidden;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  height: 100%;
  -webkit-transition: width 0.8s ease-in;
  transition: width 0.8s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.5);
}

.aside.active {
  width: 100%;
  max-width: 300px;
  height: 100%;
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.aside.active ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  -ms-flex-line-pack: center;
      align-content: center;
}

.aside.active ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 10px 0;
  text-align: center;
}

.aside.active ul li a {
  text-decoration: none;
  color: #0a0a0a;
  margin: 10px 0;
  font-size: 20px;
}

.aside.active ul li a:hover {
  color: #1830bb;
}

.aside.active .icons {
  width: 100%;
  max-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.aside.active .icons i {
  font-size: 25px;
  line-height: 35px;
  cursor: pointer;
}

.aside.active .icons i:hover {
  opacity: 0.8;
}

.aside.active .icons .fa-linkedin {
  color: #0072b1;
}

.aside.active .icons .fa-twitter {
  color: #00acee;
}

header {
  width: 100vw;
  height: 100%;
  position: relative;
}

header .img-wrapper {
  width: 100vw;
  height: 100vh;
  -webkit-animation: zoom 3s ease-out;
          animation: zoom 3s ease-out;
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

header .img-wrapper img {
  width: 100%;
  height: 100%;
}

header .header-content {
  position: absolute;
  top: 30%;
  left: 15%;
  width: 100%;
  max-width: 400px;
  text-align: center;
  -webkit-animation: moveDown 5s ease-out;
          animation: moveDown 5s ease-out;
}

@-webkit-keyframes moveDown {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveDown {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

header .header-content h1 {
  font-size: 38px;
  line-height: 48px;
  width: 100%;
  max-width: 400px;
  font-weight: normal;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}

header .header-content p {
  margin: 10px 0;
  font-size: 23px;
  line-height: 33px;
  color: #fff;
  font-weight: 400;
}

header .header-content a {
  text-decoration: none;
  background: #8e2de2;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#8e2de2), to(#4a00e0));
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: #fff;
  display: block;
  width: 100%;
  max-width: 258px;
  margin: 30px auto;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

header .header-content a:hover {
  opacity: 0.7;
}
/*# sourceMappingURL=styles.css.map */